/* GENERAL */

@font-face {
	font-family: 'Pixel Operator';
	src: url('PixelOperator.woff');
}

@font-face {
	font-family: 'Pixel Operator Bold';
	src: url('PixelOperator-Bold.woff');
}

body {
	background-color: #fce6f5;
	margin: 0;
}

.browse {
	background-color: white;
}

svg.menu {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 20px;
	top: 40px;
}

h2, p, nav > a, form {
	font-family: 'Pixel Operator', sans-serif;
	font-size: 1.6em;
}

h2 {
	font-size: 2em;
}

a:link, a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: #f58318 wavy underline;
}

a:active {
	color: #FF35C3;
}

nav {
	display: none;
	flex-direction: column;
	gap: 1.3em;
	text-align: right;
	background-color: #4f4f4e;
}

h1 {
	font-family: "owners-xwide", sans-serif;
	font-weight: 900;
	font-style: italic;
}

footer {
	display: flex;
/*	gap: 10%;*/
	text-align: center;
	font-size: 0.7em;
	padding: 30px;
	padding-top: 100px;
}

footer > a {
	width: 33%;
}

footer > a:link, footer > a:visited, footer > a:active, footer > a:hover {
	text-decoration: underline;
	color: black;
}

header {
	z-index: 1;
	background-color: #4f4f4e;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	padding: 20px;
}

main {
	margin-bottom: 50px;
}

/* INDEX */

div.video {
	text-align: center;
}

img.star {
	display: block;
	position: relative;
	top: 50px;
	left: 70px;
}

img.clouds {
	display: block;
	position: relative;
	bottom: 200px;
	left: 30px;
}

.container {
	display: flex;
	flex-direction: column;
}

nav.visibility {
	display: flex;
/*	flex-direction: column;*/
}

polygon.nav:hover {
	cursor: pointer;
	fill: #FF35C3;
}


/* BROWSE */

.browse {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-areas: 
	'a b '
	'c c '
	'e f'
	'd d'
	'g h'
	'i i'
	'k l'
	'j j'
	'm n'
	'o o'
	'q r'
	'p p';

	padding-top: 50px;
	padding-bottom: 50px;
}

.a {grid-area: a;
display: none;}
.b {grid-area: b;}
.c {grid-area: c;
margin: 20px;}
.d {grid-area: d;
margin: 20px;
text-align: right;}
.e {grid-area: e;}
.f {grid-area: f;
display: none;}
.g {grid-area: g;
display: none;}
.h {grid-area: h;}
.i {grid-area: i;
margin: 20px;}
.j {grid-area: j;
margin: 20px;
text-align: right;}
.k {grid-area: k;}
.l {grid-area: l;
display: none;}
.m {grid-area: m;
display: none;}
.n {grid-area: n;}
.o {grid-area: o;
margin: 20px;}
.p {grid-area: p;
margin: 20px;
text-align: right;}
.q {grid-area: q;}
.r {grid-area: r;
display: none;}

#instructions {
	padding: 20px;
	text-align: center;
}

polygon.st0:hover {
	cursor: pointer;
}

polygon.st0:active {
/*	opacity: 80%;*/
}

svg.e > g > polygon.st0 {
	fill: #67d60d;
}

svg.h > g > polygon.st0 {
	fill: #1469e0;
}

svg.k > g > polygon.st0 {
	fill: #FF35C3;
}

svg.n > g > polygon.st0 {
	fill: #f58318;
}

/*svg.q > g > polygon.st0 {
	fill: hotpink;
}*/

/* QUIZ */

div.p5 {
	text-align: center;
	padding: 40px;
}

/* CONTACT */
form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 350px;
	padding: 40px;
	margin: auto;
}

.required {
	color: red;
}

/* MEDIA QUERIES */

@media (min-width: 750px) {
	.browse {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: 
		'a b c .'
		'. d e f'
		'g h i .'
		'. j k l'
		'm n o .'
		'. p q r';
	}
}

@media (min-width: 900px) {
	.container {
		flex-direction: row;
	}

	#about {
		width: 40%;
		position: relative;
		left: 40%;
	}

	img.star {
		left: 270px;
	}

	img.clouds {
		top: 150px;
		left: 0;
	}

	svg.menu {
		display: none;
	}

	header {
		flex-direction: row;
		gap: 12em;
	}

	nav {
		display: flex;
		flex-direction: row;
		margin: auto;
		gap: 12em;
	}
}
